/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

body {
  background-color: green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

a, a:hover, a:visited {
  color: gold;
}

#topbar {
  background: green;
  border-bottom: solid 4px red;
  padding: 15px 20px 13px 20px;
}

#topbar h1, #topbar h2 {
  margin-bottom: 0;
  line-height: 1;
}

#topbar h1 {
  color: gold;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 800;
}

#topbar h1 a {
  font-weight: bold;
}

#topbar strong {
  display: block;
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  position: relative;
}

#topbar strong a {
  line-height: 14px;
  font-weight: 500;
  padding-right: 12px;
}

footer.row {
  margin-top: 50px;
  padding: 20px;
  background-color: #009000;
}

/* -----------------------------------------
   Index
----------------------------------------- */
#header {
  min-height: 600px !important;
  background-image: url(../images/gift-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

header h1 {
  font-weight: 300;
  font-size: 76px;
  font-size: 7.6rem;
  position: relative;
  margin-bottom: 10px;
}

header h2 {
  font-weight: 300;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 34px;
  padding: 0 23%;
}

header p {
  margin-top: 8px;
  color: gold;
}

header p a {
  margin-right: 20px;
  font-size: 12px;
  font-size: 1.2rem;
}

#main {
  position: relative;
  top: -310px;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


