{% extends "base.html" %}

{% block base_title %}禮物專區 - {{ super() }}{% endblock %}

{% block base_content %}
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>禮物專區</h3>
        <h4 class="subheader">目前共有 {{ count }} 禮物</h4>
        <hr>
      </div>
    </div>

    <div class="gallery"></div>
    <div class="gallery-control">
      <div class="row grid">
        <div class="three columns centered">
          <a href="/api/gifts/1" class="nice small radius white button disabled load-more">更多...</a>
        </div>
      </div>
    </div>

    <div style="display: none;">
      <div class="row grid row-tmpl">
      </div>

      <div class="three phone-one columns cell-light-tmpl">
        <a class="lightbox" href="" title="">
          <img src="" />
        </a>
        <div class="gift-caption"></div>
      </div>

      <div class="three phone-one columns cell-tmpl">
        <img src="" />
        <div class="gift-caption"></div>
      </div>
    </div>
  </div>
{% endblock %}
