{% extends "base.html" %}

{% block base_title %}禮物專區 - {{ super() }}{% endblock %}

{% block base_content %}
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>禮物專區</h3>
        <h4 class="subheader">目前共有 {{ count }} 禮物</h4>
        <hr>
      </div>
    </div>

    {% for gift in gifts %}
      {% if loop.first %}
    <div class="row grid">
      {% endif %}
      <div class="three columns">
        {% if gift.url %}
        <a class="lightbox" href="{{ gift.url }}" title="{{ gift.description|e if gift.description }}">
        {% endif %}
          <img src="{{ gift.grid_url if gift.grid_url else "images/cell.jpg" }}" alt="{{ gift.message|e if gift.message }}" />
        {% if gift.url %}
        </a>
        {% endif %}
        <div class="gift-caption">#{{ gift.ident }} {{ gift.message|e if gift.message }}</div>
      </div>
      {% if loop.index0 % 4 == 3 %}
    </div>
    <div class="row grid">
      {% endif %}
      {% if loop.last %}
    </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
