{% extends "base.html" %}

{% block base_content %}
  <!-- header -->
  <div id="header" class="container">
    <div class="row">
      <header class="twelve columns">
        <h1>聖誕節禮物交換網站</h1>
        <h2>記得故事書裡的主角，很期待耶誕節當天看到耶誕樹下放滿禮物，透過這個活動，將延續這種感動。</h2>
        <a id="mainEntry" href="good" class="nice green button">乖小孩子從這邊進入</a>
        <p>
          <a href="helper">聖誕助手 »</a>
          <a href="welfare">福委專區 »</a>
        </p>
      </header>
    </div>

    <!-- presents -->
    <div class="row">
      <div class="five columns centered">
        <div id="presents">
          <img src="images/gift-sample.jpg" alt="聖誕快樂" data-caption="#gift-sample" />
          <img src="images/gift-sample2.jpg" alt="聖誕快樂" data-caption="#gift-sample2" />
        </div>
        <span class="orbit-caption" id="gift-sample">聖誕快樂</span>
        <span class="orbit-caption" id="gift-sample2">新年快樂</span>
      </div>
    </div>
  </div>
{% endblock %}
