{% extends "base.html" %}

{% block base_content %}
  <!-- header -->
  <div id="header" class="container">
    <div class="row">
      <header class="twelve columns">
        <h1>耶誕交換禮物網站</h1>
        <h2>記得故事書裡的主角，很期待耶誕節當天看到耶誕樹下放滿禮物，透過這個活動，將延續這種感動。</h2>
        <a id="mainEntry" href="good" class="nice green button">乖孩子從這邊進入</a>
        <p>
          <a href="helper">小麋鹿專區 »</a>
          <a href="welfare">福委專區 »</a>
        </p>
      </header>
    </div>

    {% if count > 0 %}
    <!-- presents -->
    <div class="row">
      <div class="five columns centered">
        <div class="presents">
          {% for gift in query %}
          <img src="{{ gift.orbit_url }}" data-caption="#gift-{{ loop.index }}" />
          <span class="orbit-caption" id="gift-{{ loop.index }}">#{{ gift.ident }} {{ gift.description|e if gift.description }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="five columns centered">
        <p class="gifts">
          <a href="gifts">更多禮物 »</a>
        </p>
      </div>
    </div>
    {% endif %}
  </div>

  <!--[if IE]>
  <style type="text/css">
    .timer { display: none !important; }
    div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
  </style>
  <![endif]-->
{% endblock %}
