{% extends "sidebar.html" %}

{% block title %}登錄系統{% endblock %}

{% block subtitle %}登錄系統{% endblock %}

{% block subheader %}請先登錄之後，才能使用。{% endblock %}

{% block content %}
        <div class="row">
          <div class="twelve columns">
            <h4>登錄</h4>
            <form id="login" class="nice" action="/api/login" method="post">
              <label for="login-ident">工號</label>
              <input type="text" placeholder="00289" class="medium input-text"
                     name="ident" id="login-ident" maxlength="5">
              <label for="login-passwd">密碼</label>
              <input type="password" placeholder="請輸入密碼" class="medium input-text"
                     name="passwd" id="login-passwd">
              <input type="hidden" name="returnpath" value="{{ returnpath|e }}">
              {% if unauthorized %}
			  <small class="error">帳號或密碼錯誤</small>
              {% endif %}
              <button type="submit" class="small green nice button radius">登錄</button>
            </form>
          </div>
        </div>
{% endblock %}
