<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>登錄系統 - 聖誕節禮物交換網站</title>

    <!-- Included CSS Files -->
    <!-- Combine and Compress These CSS Files -->
    <link rel="stylesheet" href="stylesheets/globals.css">
    <link rel="stylesheet" href="stylesheets/typography.css">
    <link rel="stylesheet" href="stylesheets/grid.css">
    <link rel="stylesheet" href="stylesheets/ui.css">
    <link rel="stylesheet" href="stylesheets/forms.css">
    <link rel="stylesheet" href="stylesheets/orbit.css">
    <link rel="stylesheet" href="stylesheets/reveal.css">
    <link rel="stylesheet" href="stylesheets/mobile.css">
    <!-- End Combine and Compress These CSS Files -->
    <link rel="stylesheet" href="stylesheets/app.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <!-- topbar -->
  <div id="topbar" class="container">
    <div class="row">
      <div class="four columns">
        <h1><a href="/">聖誕節禮物交換網站</a></h1>
      </div>
      <div class="eight columns hide-on-phones">
      	<strong class="right">
      	  <a href="/good">乖小孩子</a>
      	  <a href="/helper">聖誕助手</a>
      	  <a href="/welfare">福委專區</a>
      	  <a href="/about">關於活動</a>
      	</strong>
      </div>
    </div>
  </div>

  <!-- main -->
  <div id="main" class="container">
    <section class="row">
      <div id="sidebar" class="five columns hide-on-phones">
      </div>
      <div class="seven columns">
        <h3>聖誕助手</h3>
        <h4 class="subheader">TODO</h4>
        <hr>
        <div class="row">
          <div class="twelve columns">
            <h4>登錄</h4>
            <form id="login" class="nice" action="/api/login" method="post">
              <label for="login-ident">工號</label>
              <input type="text" placeholder="00289" class="small input-text"
                     name="ident" id="login-ident" maxlength="5">
              <label for="login-passwd">密碼</label>
              <input type="text" placeholder="請輸入密碼" class="small input-text"
                     name="passwd" id="login-passwd" maxlength="5">
              <input type="hidden" value="{{ returnpath }}">
              <button type="submit" class="small green nice button radius">登錄</button>
            </form>
          </div>
        </div>
        <hr>
      </div>
    </section>
  </div>

  <div id="footer" class="container">
    <footer class="row rounded-corners">
	  <section class="five columns">
	    <h6><strong>福委會</strong></h6>
        <p>TODO: 福委會簡介</p>
	  </section>

	  <section class="three columns">
	    <h6><strong>開放原始碼</strong></h6>
	    <p>https://github.com/ronhuang/gplus-secret-santa</p>
	  </section>

	  <section class="four columns">
	    <h6><strong>需要協助嗎？</strong></h6>
	    <p>請聯絡 TODO</p>
      </section>
    </footer>
  </div>

  <div id="dgsm" class="reveal-modal">
	<h2>移除工號 <span class="ident"></span></h2>
	<p class="lead">確定移除？</p>
	<p>移除之後就不能回復！</p>
    <a class="close-reveal-modal">×</a>
    <button class="nice red radius button delete">移除</button>
  </div>

  <!-- Included JS Files -->
  <!-- Combine and Compress These JS Files -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery.reveal.js"></script>
  <script src="javascripts/jquery.orbit-1.3.0.js"></script>
  <script src="javascripts/forms.jquery.js"></script>
  <script src="javascripts/jquery.customforms.js"></script>
  <script src="javascripts/jquery.placeholder.min.js"></script>
  <!-- End Combine and Compress These JS Files -->
  <script src="javascripts/app.js"></script>

</body>
</html>
