{% extends "sidebar.html" %}

{% block title %}登錄禮物{% endblock %}

{% block subtitle %}登錄禮物{% endblock %}

{% block subheader %}禮物編號：{{ gift.ident }}{% endblock %}

{% block class %}good{% endblock %}

{% block content %}
        <h4>登錄禮物 <span class="gift-complete {{ 'hidden' if not gift.is_complete }}" title="已完成">&#10004;</span><span class="gift-incomplete {{ 'hidden' if gift.is_complete }}" title="未完成">&#10006;</span></h4>
        <div class="row">
          <div class="six columns">
            <form id="gift" class="nice" action="/api/gift/register" method="post">
              <label for="gift-desc">禮物描述</label>
              <input type="text" class="input-text" name="desc"
                     id="gift-desc" value="{{ gift.description|e if gift.description }}">
              <label for="gift-bless">給對方的祝福語</label>
              <input type="text" class="input-text" name="bless"
                     id="gift-bless" value="{{ gift.message|e if gift.message }}">
              <button type="submit" class="green nice button radius">登錄</button>
            </form>
            <!-- show upload image -->
            <form id="upload" class="nice" action="/api/gift/upload" method="post" enctype="multipart/form-data">
              <label class="question" for="upload-pic">禮物照片</label>
              <img class="question" src="images/question.gif" title="（支援 jpg、gif、png，大小不超過 1 MB。）" />
              <input type="file" class="input-text" name="pic" id="upload-pic">
              <button type="submit" class="green nice button radius">上傳</button>
            </form>
          </div>
          <div class="six columns">
            {% if gift.picture %}
            <a class="lightbox" href="{{ gift.url }}" title="{{ gift.description|e if gift.description }}">
              <img class="gift-thumbnail" src="{{ gift.thumbnail_url }}" alt="禮物照片" />
            </a>
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div id="log" class="twelve columns">
            {% if args and args.result == 'success' %}
            <div class="alert-box success">禮物照片上傳成功。</div>
            {% endif %}
            {% if args and args.result == 'more' %}
            <div class="alert-box warning">禮物登錄不完整，還缺：{{ args.more }}。</div>
            {% endif %}
            {% if args and args.result == 'invalid' %}
            <div class="alert-box warning">禮物照片不正確。</div>
            {% endif %}
          </div>
        </div>
{% endblock %}
