{% extends "sidebar.html" %}

{% block title %}登錄禮物{% endblock %}

{% block subtitle %}登錄禮物{% endblock %}

{% block subheader %}禮物編號：{{ gift.ident }}{% endblock %}

{% block content %}
        <h4>登錄禮物 <span title="{{ '已完成' if gift.is_complete else '尚未完成' }}">{{ '&#10004;'|safe if gift.is_complete else '&#10006;'|safe }}</span></h4>
        <div class="row">
          <div class="six columns">
            <form id="gift" class="nice" action="/api/gift/register" method="post">
              <label for="gift-desc">禮物描述</label>
              <input type="text" class="input-text" name="desc"
                     id="gift-desc" value="{{ gift.description|e if gift.description }}">
              <label for="gift-bless">給對方的祝福語</label>
              <input type="text" class="input-text" name="bless"
                     id="gift-bless" value="{{ gift.message|e if gift.message }}">
              <button type="submit" class="green nice button radius">登錄</button>
            </form>
          </div>
          <div class="six columns">
            <!-- show upload image -->
            <form id="upload" class="nice" action="/api/gift/upload" method="post">
              <label for="upload-desc">禮物照片</label>
              <input type="text" class="input-text" name="desc" id="upload-desc">
              <button type="submit" class="green nice button radius">上傳</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div id="log" class="twelve columns">
          </div>
        </div>
{% endblock %}
