{% extends "sidebar.html" %}

{% block title %}福委專區{% endblock %}

{% block subtitle %}福委專區{% endblock %}

{% block subheader %}新增小麋鹿、切換抽獎狀態、檢視抽獎結果{% endblock %}

{% block class %}welfare{% endblock %}

{% block content %}
        <div class="row">
          <div class="six columns">
            <h4>登錄小麋鹿</h4>
            <form id="register" class="nice" action="/api/user/register" method="post">
              <label for="register-ident">工號</label>
              <input type="text" placeholder="00289" class="small input-text"
                     name="ident" id="register-ident" maxlength="5">
              <input type="hidden" name="role" value="2000">
              <button type="submit" class="small green nice button radius">登錄</button>
            </form>
          </div>
          <div class="six columns">
            <h4>移除小麋鹿</h4>
            <form id="delete" class="nice" action="/api/user/delete" method="post">
              <label for="delete-ident">工號</label>
              <input type="text" placeholder="00289" class="small input-text"
                     name="ident" id="delete-ident" maxlength="5">
              <button type="submit" class="small red nice button radius">移除</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="six columns">
            <h4>重置密碼</h4>
            <form id="reset" class="nice" action="/api/user/reset" method="post">
              <label for="reset-ident">工號</label>
              <input type="text" placeholder="00289" class="small input-text"
                     name="ident" id="reset-ident" maxlength="5">
              <button type="submit" class="small green nice button radius">重置</button>
            </form>
          </div>
          <div class="six columns">
            <h4>變更抽獎階段</h4>
            <form id="change" class="nice" action="/api/state/change" method="post">
              <label>目前階段：<span class="change-state">{{ states[current] }}</span></label>
              <select name="state">
                {% for state in states %}
                <option value="{{ loop.index0 }}" {{ "selected" if current == loop.index0 }}>{{ states[loop.index0] }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="small green nice button radius">變更</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="six columns">
            <h4>資料統計</h4>
            <a href="/stats">資料統計 »</a>
          </div>
          <div class="six columns draw">
            <h4>抽獎</h4>
            <a id="draw" class="small green nice button radius {% if current != 1 %}disabled{% endif %}" href="/api/draw">抽獎</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div id="log" class="twelve columns">
          </div>
        </div>
{% endblock %}

{% block dialog %}
  <div id="register-dialog" class="reveal-modal">
	<h2>工號 <span class="ident"></span> 登錄成功</h2>
	<p class="lead">密碼：<span class="passwd"></span>。</p>
    <a class="close-reveal-modal">×</a>
  </div>

  <div id="delete-dialog" class="reveal-modal">
	<h2>移除工號 <span class="ident"></span></h2>
	<p class="lead">確定移除？</p>
	<p>移除之後就不能回復！</p>
    <a class="close-reveal-modal">×</a>
    <button class="nice red radius button delete">移除</button>
  </div>

  <div id="reset-dialog" class="reveal-modal">
	<h2>工號 <span class="ident"></span> 密碼重置成功</h2>
	<p class="lead">密碼：<span class="passwd"></span>。</p>
    <a class="close-reveal-modal">×</a>
  </div>

  <div id="draw-dialog" class="reveal-modal">
	<h2>確定要抽獎嗎？</h2>
	<p class="lead">之前抽獎的結果都會消失！</p>
    <p>這會花一點時間，請耐心等待。</p>
    <a class="close-reveal-modal">×</a>
    <button class="nice red radius button draw">抽獎</button>
  </div>
{% endblock %}
